body {
     
background-color:red;
}
.container {
max-width: 500px;
margin: 0 auto
background: red;
}

.hero-ing {
 width: 100%;

}

h1 {
    font-size: 6vw;
}   

p {}


.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}

.flex-center {
display: flex;
flex-direction: column; 
align-items: center; 
text-align: center;
margin: 30px 0;
}

.flex-center img {
max-width: 100%;
}